.container-list-last-event {
  padding: 70px 0;
  background: #000000;

  .cantainer-bg {
    background: #000000;
  }

  .header {
    text-align: center;
    color: #ffffff;
    margin-bottom: 20px;
    font-weight: 200;
    font-size: 3.125rem;
    text-transform: uppercase;
  }
}
